/*Pages : Accueil / Connexion / Regles / Profil*/
/*Image de fond*/
#body_accueil, #body_connection, #body_regles, #body_profil{
	background-image : url('../Image/Fond.png');
	background-size : cover
}

/*Page : Jeu*/
/*Image de fond*/
#body_jeu{
	background-image : url('../Image/Fond tapis.jpg');
	background-size : cover
}

/*Pages : Accueil / Profil*/
/*Titre principal*/
#titre_mahjong{
	text-align : center;
	font-family : Elephant;
	font-size : 900%;
	color : #800000;
	text-shadow : black 10px 10px 10px
}

/*Pages : Accueil / Profil*/
/*Boutons d'accès aux pages*/
#bouton1, #bouton2, #bouton3, #bouton4, #bouton5{
	width : 20%;
	line-height : 280%;
	margin-left : 4%;
	margin-right : 4%;
	border-radius : 50px;
	border-color : grey;
	font-size : 300%;
	color : #800000;
	font-style : bold;
	text-decoration : none
}

/*Pages : Accueil / Profil*/
/*Groupe de boutons d'accès aux pages*/
#boutons, #boutons2{
	text-align : center
}

/*Pages : Toutes*/
/*Supprimer le soulignage d'hyperlien*/
a{
	text-decoration : none
}

/*Pages : Toutes*/
/*Changer l'aspect du bouton et du curseur au passage de la souris*/
#bouton1:hover, #bouton2:hover, #bouton3:hover, #bouton4:hover, #bouton5:hover, #retour:hover, 
#niv1:hover, #niv2:hover, #niv3:hover, #niv4:hover, #niv5:hover, #niv6:hover, #niv7:hover, #niv8:hover, #niv9:hover, #niv10:hover{
	background-color : #C0C0C0;
	cursor : pointer
}

/*Pages : Regles / Connection / Niveaux / Replay / Score*/
/*Styliser le bandeau en haut de la page*/
#texte_bandeau{
	text-align : center;
	font-size : 300%;
	font-style : bold;
	background-color : #EEE8AA;
	color : #800000;
	width : auto;
	border-style : solid;
	border-color : #800000;
	padding : 1%
}

/*Page : Connexion*/
/*Centrer les deux formulaires*/
#tableau{
	width : 80%;
	margin-left : auto;
	margin-right : auto;
}

/*Page : Connexion*/
/*Mettre en forme les formulaires*/
#form1, #form2{
	background-color : white;
	border-style : solid;
	padding : 2%;
	width : 50%;
	margin-left : auto;
	margin-right : auto
}

/*Page : Connexion*/
/*Aligner les zones de texte des formulaires*/
label{
	display: block;
	width: 40%;
	float: left
}

/*Pages : Regles / Connection / Niveaux / Replay / Score/ Jeu*/
/*Placer le bouton retour*/
#retour{
	position: fixed; 
	bottom: 5%; 
	right: 5%;
	width : 3%;
	background-color : #EEE8AA;
	border-style : solid;
	border-color : #800000;
	padding : 0.5%
}

/*Page : Regles*/
/*Placer le texte des règles*/
#texte_regles{
	margin-left : auto;
	margin-right : auto;
	margin-top : 3%;
	padding-right : 2%;
	padding-left : 2%;
	text-align : left;
	line-height : 2;
	font-size : 150%;
	background-color : #FFE4E1;
	border-style : solid;
	border-color : #800000;
	border-radius : 50px
}

/*Page : Niveaux*/
/*Placer le tableau des niveaux*/
#tab_niveau{
	margin-left : auto;
	margin-right : auto;
	margin-top : 7%;
	width : 80%
}

/*Page : Niveaux*/
/*Styliser les boutons d'accès aux niveaux*/
#niv1, #niv2, #niv3, #niv4, #niv5, #niv6, #niv7, #niv8, #niv9, #niv10{
	width : 10%;
	line-height : 180%;
	margin-left : 4%;
	margin-right : 4%;
	border-radius : 50px;
	border-color : grey;
	font-size : 350%;
	color : #800000;
	font-style : bold;
	margin-bottom : 7%
}

/*Page : Jeu*/
/*Definir la position de la grille de jeu*/
#grilleComplete{
	position : relative
}

/*Page : Jeu*/
/*Definir la position de l'étage 1 de la grille*/
#grille1{
   	z-index: 10;
	position : absolute;
	top: 25px;
   	left: 30px
	
}

/*Page : Jeu*/
/*Definir la position de l'étage 2 de la grille*/
#grille2{
   	z-index: 11;
	position : absolute;
	top: 30px;
   	left: 35px
}

/*Page : Jeu*/
/*Definir la position de l'étage 3 de la grille*/
#grille3{
   	z-index: 12;
	position : absolute;
	top: 35px;
   	left: 40px
}

/*Page : Jeu*/
/*Definir la position de l'étage 4 de la grille*/
#grille4{
   	z-index: 13;
	position : absolute;
	top: 40px;
   	left: 45px
}

/*Page : Jeu*/
/*Definir la position de l'étage 5 de la grille*/
#grille5{
   	z-index: 14;
	position : absolute;
	top: 45px;
   	left: 50px
}




