/*Accueil*/
#body_accueil, #body_connection{
	background-image : url('../Image/Fond.png');
	background-size : cover
}

#titre_mahjong{
	text-align : center;
	font-family : Elephant;
	font-size : 1000%;
	color : #800000;
	text-shadow : black 10px 10px 10px;
	margin-top : 10%
}

#bouton1, #bouton2{
	width : 20%;
	line-height : 250%;
	margin-left : 4%;
	margin-right : 4%;
	border-radius : 50px;
	border-color : grey;
	font-size : 400%;
	color : #800000;
	font-style : bold
}

#boutons{
	text-align : center
}

#bouton1:hover, #bouton2:hover, #retour:hover{
	background-color : #C0C0C0;
	cursor : pointer
}

/*Connection*/
#text_compte{
	text-align : center;
	font-size : 300%;
	font-style : bold;
	background-color : #EEE8AA;
	color : #800000;
	width : auto;
	border-style : solid;
	border-color : #800000;
	padding : 1%
}

#form1, #form2{
	background-color : white;
	border-style : solid;
	padding : 2%;
	width : 15%
}

#retour{
	position: fixed; 
	bottom: 5%; 
	right: 5%;
	width : 3%;
	background-color : #EEE8AA;
	border-style : solid;
	border-color : #800000;
	padding : 0.5%
}